.pdf-visualizer-modal {
  font-family: inherit;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
  cursor: pointer;
  font-size: 0.95rem;
}

.pdf-visualizer-content {
  position: absolute;
  background-color: white;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  width: 90%;
  max-width: 800px;
  height: 90%;
  display: flex;
  flex-direction: column;
  cursor: default;
  animation: showCustomModal 0.3s;
  -webkit-animation: showCustomModal 0.3s;
}

.pdf-visualizer-content.pdf-visualizer-content-closed {
  -webkit-animation: hideCustomModal 0.2s forwards;
  animation: hideCustomModal 0.2s forwards;
}

.pdf-visualizer-header {
  background-color: rgba(0, 0, 0, 0.07);
  border-bottom: 1px solid #dee2e6;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.5rem 1rem;
  cursor: move;
}

.pdf-visualizer-header h5 {
  margin: 0;
}

.pdf-visualizer-controls {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  padding: 1rem 1rem;
  gap: 1rem 1rem;
}

.pdf-visualizer-controls .navigate-controls {
  display: flex;
  align-items: center;
  gap: 0.8rem;
}

.pdf-visualizer-controls .zoom-controls {
  display: flex;
  align-items: center;
  gap: 0.8rem;
}

.pdf-visualizer-controls #zoom-info {
  text-align: center;
  min-width: 2.7rem;
}

.button-control {
  background-color: #4CAF50;
  border: none;
  color: white;
  padding: 0.611em 0.75rem;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 0.9rem;
  cursor: pointer;
  border-radius: 4px;
}

.button-control:hover {
  background-color: #45a049;
}

.button-control:disabled {
  background-color: #cccccc;
  cursor: not-allowed;
}

.button-control:focus {
  outline: none;
  box-shadow: 0 0 0 3px rgba(66, 79, 94, 0.5);
}

#pdf-body {
  overflow: auto;
  flex-grow: 1;
  border: 1px solid #ddd;
  background-color: #ddd;
  position: relative;
  cursor: grab;
  margin: 0rem 1rem 1rem 1rem;
}

#the-canvas {
  display: block;
  margin: 0 auto;
}

#preloader {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(255, 255, 255, 0.8);
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.1rem;
}

.pdf-visualizer-modal  .spinner {
  border: 4px solid #f3f3f3;
  border-top: 4px solid #3498db;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  animation: spin 1s linear infinite;
  margin-right: 10px;
}

.pdf-visualizer-modal  .animated-spin {
  animation: spin 3s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

@-webkit-keyframes showCustomModal {
  0% {
    -webkit-transform: scale(0.7);
    transform: scale(0.7);
  }

  45% {
    -webkit-transform: scale(1.05);
    transform: scale(1.05);
  }

  80% {
    -webkit-transform: scale(0.95);
    transform: scale(0.95);
  }

  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}

@keyframes showCustomModal {
  0% {
    -webkit-transform: scale(0.7);
    transform: scale(0.7);
  }

  45% {
    -webkit-transform: scale(1.05);
    transform: scale(1.05);
  }

  80% {
    -webkit-transform: scale(0.95);
    transform: scale(0.95);
  }

  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}

@-webkit-keyframes hideCustomModal {
  0% {
    -webkit-transform: scale(1);
    transform: scale(1);
    opacity: 1;
  }

  100% {
    -webkit-transform: scale(0.5);
    transform: scale(0.5);
    opacity: 0;
  }
}

@keyframes hideCustomModal {
  0% {
    -webkit-transform: scale(1);
    transform: scale(1);
    opacity: 1;
  }

  100% {
    -webkit-transform: scale(0.5);
    transform: scale(0.5);
    opacity: 0;
  }
}